.block {
    height: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    color: white;
}

.block:first-child {
    margin-bottom: 15px;
}

.canDrag {
    cursor: move;
}

.canDrag:hover {
    opacity: 0.75;
}
