.gameBoard {
    display: flex;
    flex-flow: column nowrap;
}

.sticks {
    display: flex;
    flex-flow: row nowrap;
}

.won {
    padding: 15px 0;
    text-align: center;
    font-size: 1.1em;
    font-family: Arial sans-serif;
    font-weight: bold;
}
