.container {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-flow: column-reverse nowrap;
    position: relative;
    margin-bottom: 10px;
}

.stick {
    position: absolute;
    left: calc(50% - 5px);
    top: 0;
    width: 10px;
    height: 490px;
    background: black;
}

.floor {
    position: absolute;
    left: 2.5%;
    bottom: 0;
    width: 95%;
    height: 10px;
    background: black;
}
